<template>
  <div class="test-iframe">
    <img alt="Orchextra logo" src="../assets/logo-orx.png" />
    <h1>Test orx iframe events</h1>
    <OrxEvents />
  </div>
</template>

<script>
import OrxEvents from '@/components/OrxEvents.vue'

export default {
  name: 'Home',
  components: {
    OrxEvents,
  },
}
</script>
<style lang="scss">
.test-iframe {
  h1 {
    color: #607d8b;
    text-transform: uppercase;
  }
}
</style>
