<template>
  <form class="test-iframe__section" @submit.prvent="sendEvent">
    <h3>- Event message -</h3>
    <div class="test-iframe__event">
      <RadioGroup name="type" title="Event type" :items="types" :value="options" />
      <template v-if="canUpdateParticipation">
        <RadioGroup name="comply" title="Send Comply" :items="complys" :value="options" />
        <div class="form-input">
          <p style="margin-bottom:0.2rem;">
            <b>Send choose Prize:</b>
          </p>
          <label for="choosePrize">
            Prize Id
            <input
              id="choosePrize"
              v-model="options.choosePrize"
              type="number"
              name="choosePrize"
              class="test-iframe__input"
            />
          </label>
        </div>
      </template>
      <RadioGroup
        v-if="canAction"
        name="action"
        title="Send Action"
        :items="actions"
        :value="options"
      />
    </div>
    <div class="test-iframe__toolbar">
      <button class="test-iframe__button" @click.prevent="sendEvent">Send event</button>
    </div>
  </form>
</template>
<script>
import RadioGroup from './RadioGroup'
const ORX = {
  start: 'orchextraPromotoolStart',
  participate: 'orchextraPromotoolParticipate',
  end: 'orchextraPromotoolEnd',
}
const COMPLYS = [
  {
    id: 'empty',
    text: 'No',
    value: {},
  },
  {
    id: 'invalid',
    text: 'False',
    value: { comply: false },
  },
  {
    id: 'valid',
    text: 'True',
    value: { comply: true },
  },
]
const ACTIONS = [
  {
    id: 'emptyAction',
    text: 'No',
    value: '',
  },
  {
    id: 'next',
    text: 'Next step',
    value: 'nextStep',
  },
  {
    id: 'reset',
    text: 'Reset Flow',
    value: 'resetFlow',
  },
]
const TYPES = [
  {
    id: 'start',
    text: 'Start',
    value: ORX.start,
  },
  {
    id: 'participate',
    text: 'Participate',
    value: ORX.participate,
  },
  {
    id: 'end',
    text: 'End',
    value: ORX.end,
  },
]
export default {
  components: {
    RadioGroup,
  },
  data: () => ({
    options: {
      type: 'orchextraPromotoolStart',
      action: '',
      choosePrize: '',
      comply: {},
    },
  }),
  computed: {
    participation() {
      const choose =
        (this.options.choosePrize && { choosePrize: this.options.choosePrize | 0 }) || {}
      return { ...choose, ...this.options.comply }
    },
    message() {
      const action = this.canAction && this.options.action ? { action: this.options.action } : {}
      const participation =
        this.canUpdateParticipation && Object.keys(this.participation).length >= 0
          ? { participation: this.participation }
          : {}
      return { ...action, ...{ type: this.options.type }, ...participation }
    },
    canAction() {
      return this.options.type === ORX.end
    },
    canUpdateParticipation() {
      return this.options.type !== ORX.start
    },
  },
  watch: {
    message(val) {
      this.$emit('updateMessage', val)
    },
  },
  created() {
    this.types = TYPES
    this.complys = COMPLYS
    this.actions = ACTIONS
  },
  methods: {
    sendEvent(event = 'end', action) {
      console.log('sending event', this.message)
      window.top.postMessage(this.message, '*')
    },
  },
}
</script>
<style lang="scss">
.test-iframe__section {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  h3 {
    margin: 0.5rem;
    text-transform: uppercase;
  }
}
.test-iframe__choose-prize {
  margin: 1rem;
}
.test-iframe__input {
  padding: 0.5rem;
  border-radius: 5px;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.test-iframe__button {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  background-color: #00d1b2;
  font-weight: bold;
  color: #474747;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: #00c4a7;
    color: white;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
</style>