<template>
  <div class="test-iframe__section">
    <div class="test-iframe_message">
      <h3>- Generated message -</h3>
      <code>{{ message }}</code>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    message: {
      type: Object,
      default: () => ({}),
    },
  },
}
</script>