<template>
  <div>
    <EventMessage :message="message" />
    <EventOptions @updateMessage="onMessage" />
    <QueryParams />
  </div>
</template>

<script>
import EventOptions from './EventOptions'
import EventMessage from './EventMessage'
import QueryParams from './QueryParams'

export default {
  components: {
    EventOptions,
    EventMessage,
    QueryParams,
  },
  data: () => ({
    message: {
      type: 'orchextraPromotoolStart',
    },
  }),
  methods: {
    onMessage(val) {
      this.message = val
    },
  },
}
</script>