<template>
  <div class="test-iframe__section">
    <div class="test-iframe-params">
      <h3>- Query params -</h3>
      <div v-for="(param, key) in params" class="test-iframe-params__item">
        <b>{{ key }}</b>
        : {{ param }}
      </div>
    </div>
  </div>
</template>
<script>
import queryString from 'query-string'
export default {
  data: () => ({
    params: {},
  }),
  created() {
    const params = queryString.parse(location.search)
    this.params = params
  },
}
</script>
<style lang="scss">
.test-iframe-params__item {
  font-size: 14px;
}
</style>