<template>
  <div class="form-input">
    <p>
      <b>{{ title }}:</b>
    </p>
    <div class="form-input__radio-container">
      <div v-for="item in items" class="form-input__radio-option">
        <input
          :id="item.id"
          v-model="value[name]"
          type="radio"
          :name="name"
          :value="item.value"
          class="form-input__radio"
        />
        <label class="form-input__radio-label" :for="item.id">{{ item.text }}</label>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => ({}),
    },
    name: {
      type: String,
      default: 'name',
    },
    title: {
      type: String,
      default: 'name',
    },
    items: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
<style lang="scss">
.form-input {
  margin: 1.5rem;
  p {
    margin-bottom: 0;
    margin: 0;
  }
}
.form-input__radio-container {
  display: flex;
  justify-content: center;
}
.form-input__radio-option {
  padding: 0 1rem;
}
.form-input__radio-label {
  margin-left: 0.5rem;
}
</style>